


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyAction</title>
</head>
<body>
    <div>
        <h1>This is my action</h1>
    </div>

    @ViewBag.Information
</body>
</html>
