
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Sistema General de Consultas</h1>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Consulta", "Consulta", "Home")</li>
            <li>@Html.ActionLink("Reporte", "Reporte", "Home")</li>
            <li>@Html.ActionLink("Informacion", "Informacion", "Home")</li>
        </ul>
    </div>
</body>
</html>
