
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Ejemplo de MVC Site Map</h1>
    </div>
    @Html.MvcSiteMap().Menu(false, false, true)
    <br /><br />
    @Html.MvcSiteMap().SiteMapPath()
</body>
</html>
